<form method="post" asp-action="SearchCars" asp-controller="TravelSite">
    <input type="text" name="pickupLocation" placeholder="Pickup Location" />
    <input type="text" name="dropoffLocation" placeholder="Dropoff Location" />
    <input type="date" name="pickupDate" />
    <input type="date" name="dropoffDate" />
    <button type="submit">Search Cars</button>
</form>
